<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>New page</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');

    .top {
      border-top: 4px solid #66008C;
      padding: 50px 30px 20px;
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
    }

    body {
      background-color: #efefef;
      font-family: Nunito;
      padding: 40px 15px;
    }

    p {
      font-size: 16px;
      line-height: 1.6em;
    }

    .btn {
      color: white;
      background-color: #66008C;
      text-decoration: none;
      padding: 15px 30px;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 30px;
      display: inline-block;
    }

    .smaller {
      margin-top: 0px;
      margin-bottom: 7px;
    }

    h2 {
      color: #66008C;
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
    }

    h1 {
      font-size: 26px;
    }

    .wrn {
      font-size: 12px;
      font-style: italic;
      margin-top: 50px;
    }
  </style>
</head>

<body>
  <div class="inner">
    <div class="top">
      <h2>Authors Haven</h2>
      <h1>Notification</h1>
      <p class="smaller">Hello,</p>
      <p>{{message}}</p>
    </div>
  </div>
</body>

</html>