<html>
  <head>
    <title>Signup mail</title>
  </head>
  <body>
    <h4>Thank you for signing up, you can confirm your account with the link below</h4>
    <a href="{{link}}">Confirm account</a>
  </body>
</html>